.thumbnail-product{
  position: relative;
  .top {
    top: 0;
    left: 0;
    background: red;
    border-radius: 3px 0 0 3px;
    color: #fffbfb;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: absolute;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    font-weight: bold;
    &:before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgb(0 0 0 / 25%);
      content: "";
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 10px;
    }
    &:after {
      content: "";
      position: absolute;
      right: -9px;
      top: 4px;
      height: 18px;
      width: 18px;
      background: red;
      transform: rotate(45deg);
    }
  }
}
