<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="seo()">
        <link rel="canonical" href="${canonical}">
        <meta name="description" content="${suffix} chuyên cung cấp sỉ, lẻ các phụ kiện tiểu cảnh mini, phụ kiện trang trí sen đá, xương rồng cảnh, chậu trồng cây mini để bàn nhiều mẫu mã ...">
        <meta name=”robots” content="index, follow">
        <meta name="keywords" content="${keywords}">
        <meta property="og:url"     content="${url}" />
        <meta property="og:type"    content="${type}" />
        <meta property="og:title"   content="${title}" />
        <meta property="og:description"     content="${description}" />
        <meta property="og:image"   content="${image}" />
        <meta name="twitter:card" content="${card}">
        <meta name="twitter:site" content="${site}">
        <meta name="twitter:title" content="${title}">
        <meta name="twitter:description" content="${description}">
        <meta name="twitter:image" content="${image}">
        <link rel="dns-prefetch" href="//bhngocminh.cdn.vccloud.vn">
        <link rel="dns-prefetch" href="//www.googletagmanager.com">
    </th:block>


</head>
<body>

</body>
</html>