<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-account}">
<head>
    <title>Thông tin đơn hàng</title>
    <style>th{white-space: nowrap}</style>
</head>
<body>
<th:block layout:fragment="custom-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-3 col-xl-3 d-none-xs d-none-sm">
                <div th:replace="user/fragment/sidebar::user-sidebar('order')"></div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-9 col-xl-9">
                <div th:replace="user/pages/content/order::content"></div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>
