<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-account}">
<head>
    <!-- Title -->
    <title >Thay đổi mật khẩu</title>
</head>
<body>
    <th:block layout:fragment="custom-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-3 col-xl-3 d-none-xs d-none-sm">
                    <div th:replace="user/fragment/sidebar::user-sidebar('changepassword')"></div>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-9 col-xl-9">
                    <div th:replace="user/pages/content/password::content"></div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>
