.slogan-top{
  background-color: #fed700;
  p{
    color: #f81102; 
  }
}
.slogan-bottom{
  .slogan-bottom-item{
      .icon-slogan{

      }
      .service-name{
        font-size: 18px;
        vertical-align: 18px;
        margin-left: 5px;
      }
  }
}