<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-page-product.html}">
<head>
    <title th:text="${data.name}">Home-v1 | Electro - Responsive Website Template</title>
    <style th:utext="${data.css}"></style>
    <link rel="stylesheet" th:href="@{/resources/scss/grapesjs.css}">

</head>
<body>
<th:block layout:fragment="custom-content">
    <div th:replace="product-pages/page-product/content::content"></div>
</th:block>
</body>
</html>
